
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

<p>Ваш логин: <span  th:text = "${userName}"></span></p>
<h1>Пользователи</h1>
<a th:href="@{admin/create-user}">Create User</a>
<table border="1">
    <tr>
        <td>role_id</td>
        <td>login</td>
        <td>password</td>
        <td>role</td>
        <td></td>
        <td></td>
    </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}">1</td>
            <td th:text="${user.username}">""</td>
            <td th:text="${user.password}">""</td>
            <td>"ссылка на страницу с ролями"</td>
            <td><a th:href= "@{admin/edit-user(user=${user.id})}">edit</a></td>
            <td><a th:href="@{admin/delete-user(user=${user.id})}">delete</a></td>
        </tr>
</table>
<td><a th:href="@{/logout}">logout</a></td>

</body>
</html>

