<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<body>
<h1>Пользователи</h1>
<!--<a href="./create-user">Create User</a>-->
<table border="1">
    <tr>
        <td>id</td>
        <td>login</td>
        <td>password</td>
        <td>role</td>
        <td></td>
        <td></td>
    <tr th:each="user : ${users}">
    <tr>
        <td th:text="*{id}">""</td>
        <td th:text="*{username}">""</td>
        <td th:text="*{password}">""</td>
        <td th:text="*{role}">""</td>
   <!--     <td><a href="./edit-user?user=${user.id}">edit</a></td>
        <td><a href="./delete-user?user=${user.id}">delete</a></td>-->
    </tr>
</table>
<!--<a href="@{./admin}">Logout</a>-->
</body>
</html>

