<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>User Form</title>
</head>
<body>
<p><span  th:text = "${message}"></span></p>
<form name="f1" method="post" action="/admin/create-user">
    Login: <br/>
    <input name="login" type="text" size="25" maxlength="30" value=""/> <br/>
    Password: <br/>
    <input name="pd" type="password" size="25" maxlength="30" value=""/> <br/>
    <input type="submit" name="enter" value="Send"/>
</form>
</body>
</html>