<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>User Form</title>
</head>
<body>
<form action="#" name="f2" method="post" th:action="@{/edit-user}" th:object="${user}">
    Login: <br />
    <input type="text" size="25" maxlength="30" th:field="*{username}" /> <br />
    Password: <br />
    <input type="text" size="25" maxlength="30" th:field="*{password}" /> <br />
    Role: <br />
    <input type="text" size="25" maxlength="30" th:field="*{role}" /> <br />
    <input type="submit" name="enter" value="Send" /> <input type="reset" value="Reset" />

</form>
</body>
</html>