<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>User Form</title>
</head>
<body>
<p><span  th:text = "${message}"></span></p>
<form name='f2' method="post">
    Login: <br/>
    <input type='text' name='username' value=''></td> <br/>
    Password: <br/>
    <input type='password' name='password'/></td> <br/>
    <input type="submit" name="enter" value="Sign in"/> <br/>
</form>
</body>
</html>